.canvas-wrapper {
    display: flex;
    width: 100%;
    justify-content: space-around;
}


#video-canvas, #img-canvas {
/* mirror canvas */
  transform: scaleX(-1);
}

#similarity-score {
    font-size: 3em;
}

#remote-media-div {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

#remote-media-div > video {
    width: 300px;
}