.header {
    padding: 0 50px;
    display: flex;
    align-items: center;
}
.title {
    margin-right: 150px;
}

.main-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.reference-img {
    max-width: 640px;
    max-height: 480px;
}

.local-participant > video {
    width: 640px;
    height: 480px;
}

.remote-participants {
    display: flex;
    justify-content: space-around;
}

.remote-participants > .participant {
    width: 300px;
}

.remote-participants > .participant > video {
    width: 300px;
}