.header {
    padding: 0 50px;
    display: flex;
    align-items: center;
}
.title {
    margin-right: 150px;
}

.hidden {
    display: none;
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
}

.local-participant > .video-wrapper > video {
    border: none;
}

.reference-img, .video-wrapper > video, .video-wrapper > canvas, .posenet {
    border-radius: 15px;
    border: 10px;
    border-color: #74b9ff;
    border-style: solid;
}

.game-over, .reference-img {
    min-width: 300px;
    margin-right: 150px;
}

.reference-img {
    max-width: 560px;
    max-height: 420px;
    width: auto;
    height: auto;
}

.posenet {
    max-width: 560px;
    max-height: 420px;
}

.party-title {
    margin-top: 10px;
    margin-bottom: 10px;
}

.remote-participants {
    display: flex;
    justify-content: space-around;
}

.remote-participants > .participant, .remote-participants > video {
    width: 400px;
    height: 300px;
}

.video-wrapper {
    position: relative;
}

.score-overlay {
    position: absolute;
    top: 2%; right: 2%;
    padding: 0 2%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0,0.5);
	color: white;
	-webkit-transition: .4s;
	transition: .4s;
    font-size: 20pt;
}

.posenet {
    transform: scaleX(-1);
}